### Telegram Bot Token
TELEGRAM_BOT_TOKEN="your_telegram_bot_token_here"

### Panel Configuration
PANEL_URL="your_panel_url_here"
PANEL_PATH="your_panel_path_here"
PANEL_USERNAME="your_panel_username_here"
PANEL_PASSWORD="your_panel_password_here"
PANEL_TWO_FACTOR_CODE=""